@import 'vars';
@import 'global';

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 830px;

    .header__bg-shade {
        background: rgba(0, 0, 0, 0.2);
        min-height: 830px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        &-logo {
            padding: 19px 0 0 29px;
        }
    }

    &__contact {
        margin: 45px 29px 0 auto;
        color: #ffffff;

        &-text {
            font-size: 14px;
            margin-bottom: 10px;
        }

        a {
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            margin-left: 30px;
        }
    }

    &__box {
        text-align: center;
        padding: 177px 0 30px;
        color: #fff;

        &-title {
            font-size: 60px;
            text-transform: uppercase;
            margin-bottom: 43px;
        }

        &-text {
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        &-info {
            font-size: 16px;
            margin-bottom: 95px;
        }

        &-btn {
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            padding: 18px;
            border: 2px solid;
            width: 300px;
            margin-bottom: 140px;
        }

        &-btn:hover {
            background-color: $hover;
            border: 2px solid $hover;
            transition: all .3s;
        }

        &-socials {
            a {
                position: relative;
                margin-right: 6px;
                border: 1px solid #fff;
                width: 26px;
                height: 26px;
                border-radius: 50%;

                img {
                    position: absolute;
                }

                .vk {
                    top: 9px;
                    left: 5px;
                }

                .fb {
                    top: 7px;
                    right: 9px;
                }

                .inst {
                    top: 6px;
                    right: 6px;
                }
            }

            a:hover {
                background-color: $hover;
                border: 1px solid $hover;
                transition: all .3s;
            }
        }
    }
}

.about {
    background-color: #f8f2e4;
    padding: 50px 0;

    &__inner {
        display: flex;
    }

    &__box {
        max-width: 400px;
        margin-left: 80px;
        font-family: 'Roboto', sans-serif;
        padding-top: 45px;
    }

    &__box-title {
        font-size: 24px;

    }

    &__box-title span {
        display: block;
        font-size: 48px;
        text-transform: uppercase;
        padding: 8px 0 37px;
    }

    &__box-text {
        font-weight: 300;
        padding-bottom: 35px;
    }

    li {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        padding-bottom: 20px;
        position: relative;
        margin-left: 50px;
    }

    .yoga::before {
        content: '';
        background-image: url(../images/icons/mat-icon.svg);
        width: 30px;
        height: 20px;
        position: absolute;
        left: -50px;
        top: -4px;

    }

    .sea::before {
        content: '';
        background-image: url(../images/icons/sea_icon.svg);
        width: 30px;
        height: 24px;
        position: absolute;
        left: -50px;
        top: -7px;
    }

    .travel::before {
        content: '';
        background-image: url(../images/icons/paper-plane_icon.svg);
        width: 27px;
        height: 28px;
        position: absolute;
        left: -50px;
        top: -3px;
    }
}

.advantages {
    background-color: #fff;

    &__inner {
        padding: 70px 0 0;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    &__img {
        width: 118px;
        height: 6px;
        margin: 0 auto;
        margin-bottom: 65px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

}

.advantages__inner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages__item {
    margin-bottom: 45px;
    flex-basis: calc(33.3333%);
    height: 240px;

    &-img {
        width: 170px;
        height: 170px;
        margin: 0 auto;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    &-text {
        text-align: center;
        font-weight: 500;

        span {
            display: block;
        }
    }

}

.expectations-slider {
    background-color: $greybg;
    width: 100%;
    height: 488px;
    padding: 70px 0 0;

    .expectations__title {
        text-align: center;
        padding-bottom: 20px;
        font-size: 36px;
        font-weight: 500;
    }

    .expectations-slider__img {
        min-width: 940px;
        width: 100%;
        max-height: 530px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        margin: 0 auto;
    }

    .expectations-slider__item {
        color: #fff;
        text-align: center;
        padding: 210px 0;
        background: rgba(0, 0, 0, 0.4);
        max-height: 530px;

        &-title {
            font-size: 26px;
            text-transform: uppercase;
            font-weight: 500;
            padding-bottom: 20px;
        }

        &-text {
            font-size: 18px;
            font-weight: 400;
            max-width: 470px;
            margin: 0 auto;
        }
    }
}

.slick-slide>div {
    transform: scale(.9);
}

.slick-center>div {
    transform: scale(1);
    outline: 1px solid #fff;
    outline-offset: -30px;
}